<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About</title>

                    <style>
body {
  background-image: url('../static/ABOUT.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
            h1 {
                font-size: 75px;
                font-weight: bold;
                color: white;
                text-align: center;
                }
</style>
    </head>
    <body>
    <h1>How this app works!</h1>
    <hr>
    </body>

