<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Request Items</title>

    <link rel="stylesheet" href="../static/style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <meta name="robots" content="noindex,follow">
    <style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
  </head>
  <body>
    <div class="request items">
      <!-- Title -->
      <div class="title">
        Request Items
      </div>

      <!-- Product #1 -->
      <div class="item">


        <div class="image">
          <div class="row">
  <div class="column">
    <img src="../static/Uniform.jpg" alt="Uniforms">
  </div>

        <div class="description">
          <h3>Uniform Shirts</h3>
          <span></span>
          <span></span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="../static/Plus Sign.jpg" alt="Plus" width = "30" height="25">
          </button>
          <input type="text" name="name" value="0">
          <button class="minus-btn" type="button" name="button">
            <img src="../static/Minus Sign.jpg" alt="Minus" width = "30" height="25">
          </button>
        </div>

<hr>

                    <!-- Product #2 -->
      <div class="item">


        <div class="image">
          <div class="row">
  <div class="column">
    <img src="../static/School Pants.jpg" alt="Uniforms">
  </div>

        <div class="description">
          <h3>Uniform Pants</h3>
          <span></span>
          <span></span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="../static/Plus Sign.jpg" alt="Plus" width = "30" height="25">
          </button>
          <input type="text" name="name" value="0">
          <button class="minus-btn" type="button" name="button">
            <img src="../static/Minus Sign.jpg" alt="Minus" width = "30" height="25">
          </button>
        </div>

<hr>


      <!-- Product #3 -->
      <div class="item">
      <hr>

        <div class="image">
          <div class="row">
  <div class="column">
    <img src="../static/Pencil Packs.jpg" alt="Pencils" width = "100" height = "200">
  </div>

        <div class="description">
          <h3>Pencil Packs</h3>
          <span></span>
          <span></span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="../static/Plus Sign.jpg" alt="Plus" width = "30" height="25">
          </button>
          <input type="text" name="name" value="0">
          <button class="minus-btn" type="button" name="button">
            <img src="../static/Minus Sign.jpg" alt="Minus" width = "30" height="25">
          </button>
        </div>


<hr>
      <!-- Product #4 -->
      <div class="item">
      <hr>

        <div class="image">
          <div class="row">
  <div class="column">
    <img src="../static/Backpacks.jpg" alt="Backpacks">
  </div>

        <div class="description">
          <h3>Backpacks</h3>
          <span></span>
          <span></span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="../static/Plus Sign.jpg" alt="Plus" width = "30" height="25">
          </button>
          <input type="text" name="name" value="0">
          <button class="minus-btn" type="button" name="button">
            <img src="../static/Minus Sign.jpg" alt="Minus" width = "30" height="25">
          </button>
        </div>


<hr>





    <script type="text/javascript">
      $('.minus-btn').on('click', function(e) {
    		e.preventDefault();
    		var $this = $(this);
    		var $input = $this.closest('div').find('input');
    		var value = parseInt($input.val());

    		if (value > 1) {
    			value = value - 1;
    		} else {
    			value = 0;
    		}

        $input.val(value);

    	});

    	$('.plus-btn').on('click', function(e) {
    		e.preventDefault();
    		var $this = $(this);
    		var $input = $this.closest('div').find('input');
    		var value = parseInt($input.val());

    		if (value < 100) {
      		value = value + 1;
    		} else {
    			value =100;
    		}

    		$input.val(value);
    	});

      $('.like-btn').on('click', function() {
        $(this).toggleClass('is-active');
      });
    </script>

                                 </div>
                              </div>
                          </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
  </body>
</html>